<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.edvschule_plattling.fitnet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UebungListActivity"
            android:label="@string/titel_uebungen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UebungDetailActivity"
            android:label="@string/title_trainingsplan_detail"
            android:parentActivityName=".UebungListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.edvschule_plattling.fitnet.UebungListActivity" />
        </activity>
        <activity
            android:name=".Uebung_erstellen"
            android:label="@string/titel_uebung_erstellen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_StartseiteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrainingplanListActivity"
            android:label="@string/title_trainingplan_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Trainingsplan_erstellen"
            android:label="@string/titel_trainingsplan_erstellen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TraingsplanTrainieren"
            android:label="@string/title_activity_traingsplan_trainieren"></activity>
    </application>

</manifest>